@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
  background-color: #166534;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
}